<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<!-- TestNG Documentation: http://testng.org/doc/documentation-main.html -->
<!-- Change "false" to "tests", "methods", "classes" or "instances" for running in parallel.
 See more details in the TestNG documentation. -->
<suite name="Gmail Suite" data-provider-thread-count="3" verbose="2">
    <test name="gmail">
        <classes>
            <class name="com.halas.GmailTest"/>
        </classes>
    </test>
</suite>